.main-layout {
    display: grid;
    grid-template-columns: $padding auto $padding;

    @include normal-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $layout-normal)
        minmax(20px, 1fr);
    }
    @include large-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $layout-large)
        minmax(20px, 1fr);
    }
    @include wide-layout {
        grid-template-columns: 
        minmax(20px, 1fr)
        minmax(auto, $layout-wide)
        minmax(20px, 1fr);
    }

    > * {
        grid-column: 2;
    }

    >.full {
        grid-column: 1 / -1;
    }
}