@font-face {
    font-family: heebo;
    src: url("../../fonts/Heebo-Regular.ttf");
}

@font-face {
    font-family: heeboBold;
    src: url("../../fonts/Heebo-Bold.ttf");
}

@font-face {
    font-family: heeboLight;
    src: url("../../fonts/Heebo-Light.ttf");
}